@media only screen and (max-width: 1024px) {
    .right-image {
      display: none;
    }
    
    .left-image img {
        object-fit: cover;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        z-index: -1;
    }

    body {
        overflow: hidden;
    }

    .nav-container {
        overflow: scroll;
        height: 100vh;
    }

  }
  
  @media only screen and (min-width: 1025px) {

    img {
        height: 100vh;
        object-fit: cover;
    }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      max-width: 100%;
    }

    .nav-container {
        overflow: scroll;
        height: 100vh;
    }

  }

  @media only screen and (max-width: 480px) {
    .left-image {
      display: none;
    }
    .nav-container {
      width: 100vw;
    }

  }