@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");

@media only screen and (max-width: 1024px) {
  .right-image {
    display: none;
  }
  .grid-container {
      grid-template-columns: auto 100px
  }
  .img {
      max-width: 75vw;
  }
}

/* font-family: 'PT Serif', serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  object-fit: contain;
  max-width: 35vw;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 100%;
}

.nav-container {
  width: 200p;
  padding: 4px;
  border-radius: 5px;
  border-color: #999999;
}
