@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url('./baseStyle.css');


.grid-container {
  display: grid;
  grid-template-columns: auto 280px;
}

.nav-container {
  font-family: var(--font-primary);
  border-color: #999999;
  border-width: 10px;
  background-color: var(--bg-white);
  overflow-y: hidden;
  overflow: hidden;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-container::-webkit-scrollbar {
  display: none;
}

.nav-content {
  display: grid;
}

.nav-content .box h1 {
  font-size: 4rem;
}

.nav-content .box h2 {
  font-size: 2rem;
}

.nav-content .box h4 {
  font-size: 1.2rem
}

.scroll-down {
  text-align: center;
  position: relative;
  z-index: 2;
}

.scroll-down:hover {
  font-size: 20px;
}


.flex-buttons {
  position: absolute;
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.resume {
  margin: 0 20px 0 auto;
  border: 3px solid rgba(255,255,255,0.3);
  padding: 10px;
}

.resume:hover {
  border: 3px solid rgba(255,255,255,0.5);
  cursor: pointer;
}

.email {
  position: absolute;
  margin: 80px auto 0 -40px;
  border: 3px solid rgba(255,255,255,0.3);
  padding: 10px;
  left: 50%;
}

.email:hover {
  border: 3px solid rgba(255,255,255,0.5);
  cursor: pointer;
}

.github {
  margin: 0 auto 0 20px;
  border: 3px solid rgba(255,255,255,0.3);
  padding: 10px;
}

.github:hover {
  border: 3px solid rgba(255,255,255,0.5);
  cursor: pointer;
}

.box {
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
}

.box-area p {
  font-weight: 400;
}

#box-1 {
  background: linear-gradient(to bottom, #C7CDE3 60%,#4e5d94);
  text-align: center;
  padding-top: 50%;
  scroll-snap-stop: always;
}
#box-2 {
  background: linear-gradient(to bottom, #4e5d94 60%,#945A4E);
  padding: 20px 10px 0;
  display: grid;
  grid-template-rows: auto;
  scroll-snap-stop: always;
}
#box-2 h2 {
  text-align: center;
  font-size: 2rem;
  /* border-bottom: 1px solid #999999; */
}
#box-2 p {
  font-size: 1rem;
}

#box-3 {
  background: linear-gradient(to bottom, #945A4E 60%,#94844E);
}
#box-4 {
  background: linear-gradient(to bottom, #94844E 80%);
}

#box-4 h2 {
  text-align: center;
  padding: 15px;
}

/* Scrollbar */
.nav-container.scroll-off::-webkit-scrollbar {
  display: none;
}

/* UNRESOLVED */
/* Attempted to display scrollbar only upon wheel event: resulting scrollbar shifted the texted */
.nav-container::-webkit-scrollbar {
  /* width: 10px; */
  display: none;
}

.nav-container::-webkit-scrollbar-thumb {
  background-color: aliceblue;
  border-radius: 10px;
}

.nav-container::-webkit-scrollbar-corner {
  display: none;
}



/* Animation */
.box-area {
  position: absolute;
  top: 0;
  /* left: calc(100vw - 65vw); */
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.105);
  color: rgba(0, 0, 0, 0.305);
  animation: animate 20s linear infinite;
  bottom: -200px
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 22%;
  width: 60px;
  height: 60px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1500px) rotate(360deg);
    opacity: 1;
  }

}





/* Tech Skills */
#box-2 .tech-skills ul {
  height: auto;
}
#box-2 .tech-skills ul li {
  text-align: center;
  padding-top: 20px;
}
#box-2 .tech-skills ul li:first-child h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
#box-2 .tech-skills ul .span {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
}
#box-2 .tech-skills ul .span > li {
border: 2px solid rgba(255,255,255,0.3);
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
}
#box-2 .tech-skills ul .span > li:nth-child(even) {
  border-left: none;
}

/* Soft Skills */
#box-2 .soft-skills ul {
  height: auto;
}
#box-2 .soft-skills ul li {
  text-align: center;
  padding-top: 20px;
}
#box-2 .soft-skills ul li:first-child h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
#box-2 .soft-skills ul .span {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
}
#box-2 .soft-skills ul .span > li {
border: 2px solid rgba(255,255,255,0.3);
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
}
#box-2 .soft-skills ul .span > li:nth-child(even) {
  border-left: none;
}


/* Projects Grid */
.project-container {
  height: 100%;
}



.project-grid img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  height: 100%;
}

.project-grid p {
  text-align: center;
}

